.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
  
  .App-header {
    background-color: white;
    overflow: visible;
    width: 100%;
    color: #A281EC;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .Messages-list {
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
  }
  
  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  
  .Messages-message.currentMember {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
  }
  
  .Message-content {
    display: inline-block;
  }
  
  .currentMember > .Message-content {
    align-items: flex-end;
  }
  
  .Messages-message > .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
  }
  
  .Message-content > .username {
    display: block;
    color: gray;
    font-size: 14px;
    padding-bottom: 4px;
  }
  
  .Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
  }
  
  .currentMember > .Message-content .text {
    background-color: #ffffff63;
  }
  
  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
    border-radius: 24px;
    border:none;
    flex-grow: 1;
    padding:10px;
  }
 
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: orangered;
    color: white;
    border: none;    
  }


  .btn-send{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,  #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: uppercase;
	border-radius:28px;
	border:1px solid #2980b9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    margin-left: 15px;
  }