.login-form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }


  .login-btn {
    margin-bottom: 2rem;
    width: 6rem;
    
  }