@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
.background{
    background: #12c2e9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
margin: 0;
}
p, h2, h3 {
    font-family: 'Comfortaa';
}

.App-header h1, p{
    color: black;
}
h1{font-family: 'Righteous';
   text-transform: uppercase;
}
.caps{
    text-transform: uppercase;
}

.user-name{
    font-family: 'Comfortaa';
    display: inline-block;
}
.button, .button-send{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,  #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-transform: uppercase;
	border-radius:28px;
	border:1px solid #2980b9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Comfortaa';
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
    font-weight: 500;
    transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
   
  }
.button::after, .button-send:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  z-index: -2;
}
.button:before, .button-send:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover, .button-send:hover {
  color: #fff;
}
.button:hover:before, .button-send:hover:before {
  width: 100%;}
  .button-send{
    margin-left: 15px;
  }


.user-name{
    border:none;
    padding: 8px 30px;
    border-radius: 40px;
}
.user-login-name{
    font-size: 16px;
    border-radius: 30px;
    border: ;
    flex-grow: 1;
}
.img-height{
    height: 100px;
}
.img-height:hover
    {
  animation: bounce2 2s ease infinite;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.left-section{
    padding: 10px 30px;
       width: 200px;

}

.right-section{
    padding: 10px 30px;
    margin: 0px;
    
}
.logo-section{
    display: flex;
    align-items: flex-end;
}
.user-section{
    display: flex;
    color: black;
    
    
}
.username{
    color: #a281ec ;
    font-weight: 600;
}

.logo-section h1{
    padding-left: 30px;
    color:#f64f59
}

button {
    color:black;
    background-color: white;
    font-family: 'Comfortaa';
    border: none;
    font-size: 1.1em!important;
    }
  


.right-section button {
    padding-left: 30px;
}

.container h1{
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
}
.login-input{
    margin: 30px 0px 40px;
}
label{
    margin: 0;
}